@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        background: green;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    body {
        background: orange;
    }
    
}

@media screen and (min-width: 1281px) {
    body {
        background: purple;
    }
    
}